:root {
    --blue: #3b82f6;
    --content-background: #e2e8f0;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

.nav a:link, .nav a:visited, .nav a:hover, .nav a:focus, .nav a:hover {
    color: white;
    text-decoration: none;
}

body {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr 1fr;
    background-color: var(--blue);
}

.logo {
    grid-column: 1 / 2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.logo img {
    width: 1.5em;
    height: auto;
}

.sidebar {
    color: white;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav ul, .options ul {
    font-size: 1.5em;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px;
    flex-direction: column;
}

.nav ul {
    margin-bottom: 3em;
}

.nav img, .options img {
    height: 1em;
    width: auto;
}

.nav ul li:nth-child(6) {
    margin-bottom: 3em;
}

.header {
    grid-column: 2 / 4;
    background-color: white;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.searchArea img {
    height: 1.7em;
    width: auto;
    padding: 1em;
}

.searchArea {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-items: center;
}

.searchBar {
    background-color: var(--content-background);
    border: none;
    border-radius: 10px;
    height: 2em;
    flex: 1;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications {
    height: 1.7em;
    width: auto;
}

.profilePicture {
    height: 4.5em;
    width: auto;
}

.greeting {
    display: flex;
    align-items: center;
    margin-left: 3em;
}

.headerButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content {
    background-color: var(--content-background);
    grid-column: 2 / 3;
    padding: 1em;
}

.container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(2, 1fr);
}

.project {
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px lightgray;
    padding: 2em;
    border-left: 4px solid orange;
    min-height: 250px;
    display: grid;
    align-items: center;
}

.project ul {
    display: flex;
    justify-content: flex-end;
}

.project img {
    width: 1.5em;
    height: auto;
    margin-left: 5px;
}

.announcementsContent {
    padding: 1em;
    background-color: var(--content-background);
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.announcementsContent h4, .content h4 {
    font-size: 1.3em;
    margin: 5px;
}

.announcements {
    font-size: .8em;
}

.announcements ul, .trending {
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px lightgray;
    padding: 2em;
}

.announcements ul li {
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

.announcements ul li:last-child {
    border-bottom: none;
}

.trending img {
    height: 3em;
    width: auto;
}

.trending ul li a {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    align-items: center;
    text-decoration: none;
    color: black;
}

.trending ul li a div {
    grid-column: 2 / 3;
}

.headerButtons button {
  align-items: center;
  appearance: button;
  background-color: var(--blue);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out, ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.headerButtons button:active {
  background-color: #006AE8;
}

.headerButtons button:hover {
  background-color: #1C84FF;
}